body {
    background-color: #dbb984;
}

* {
    font-family: Calibri;
}

.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

.mainBox {
    width: 100%;
}

.centered {
    text-align: center;
}

.col {
    float: left;
    width: 33.33%;
}