.openbutton {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    top: 5px;
}

.collapsible {
    background-color: rgb(21, 21, 21);
    color: #FFF;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border: none;
    float: right;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: block;
    font-weight: bold;
}

.active, .collapsible:hover {
    background-color: rgb(30, 30, 30);
}

.content {
    padding: 0 18px;
    background-color: rgb(48, 48, 48);
    max-height: 0;
    width: 100%;
    overflow: auto;
    color: white;
    transition: max-height 0.2s ease-out;
}

.info {
    margin: 25px;
    font-weight: bold;
    font-size: 20px;
}

.answerbutton {
    width: 20%;
    height: 50px;
    margin: 5px;
    font-size: 18px;
    border-radius: 20px;
    border: 2px solid black;
    outline: none;
}

#question {
    font-size: 30px;
}

#marks {
    font-size: 30px;
    font-weight: 900;
    color: red;
}

#check {
    font-size: 30px;
    font-weight: 900;
    color: green;
}

.bar {
    width: 20px;
    height: 3px;
    border-radius: 25%;
    background-color: rgb(0, 0, 0);
    margin: 2px 0;
}

.studysets {
    height: calc(100vh - 60px);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.studysets a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.studysets a:hover {
    color: #f1f1f1;
}

.studysets .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 0px;
    padding-left: 0px;
}

.studysets .addbutton {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 29px;
    margin-left: 0px;
    padding-left: 0px;
}

.deletebutton {
    display: block;
    position: absolute;
    right: 0px;
    font-size: 32px !important;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    padding-top: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 53px;
    width: 15%;
    background-color: #262626;
}
  
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #333333;
}
  
  /* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #828c94;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.container .checkmark:after {
    left: 40%;
    top: 35%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.content p {
    cursor: pointer;
}

.toggled {
    color: green;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }